name: Pylint

on:
  push:
  pull_request:

jobs:
  pylint:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install pylint only
        run: |
          python -m pip install --upgrade pip
          pip install pylint

      - name: Run pylint on win-scripts
        run: |
          pylint win-scripts \
            --disable=import-error \
            --disable=missing-module-docstring \
            --disable=missing-function-docstring \
            --disable=missing-class-docstring
            --fail-under=9.0
